<div class="limiter">

    <div class="container-login100" style="background-image: url('https://www.wallpapertip.com/wmimgs/79-796453_fondos-de-pantalla-dishonored-juegos-de-pc-uhd.jpg');">


        <div class="container">
            <div class="row">
                <div class="h1s" style="float:left; font-size:200px; color:white; font-weight:bold; margin:200px;" class="col-6 ">
                    <h1 style="font-size:40%;font-weight: bold; margin-bottom: 5px;">SOLFIX </h1>
                    <br>
                    <br>
                    <h1 style="font-size:40%;font-weight: bold; margin-top: 5px;"> SMART </h1>
                    <br>
                    <br>
                    <h1 style="font-size:40%;font-weight: bold;"> CITY </h1>
                </div>
                <div style="float: right; font-size:80px; color:white; font-weight:bold; " class="col-6">
                    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

                        <router-outlet></router-outlet>




                    </div>
                </div>

            </div>
        </div>









    </div>
</div>